<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="THOR_arm">

  <ros2_control name="RobotSystem" type="system">
  
    <!-- HARDWARE -->

    <xacro:if value="$(arg is_sim)">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
    </xacro:if>
      
    <xacro:unless value="$(arg is_sim)">
        <hardware>
            <plugin>thor_controller/ThorInterface</plugin>
            <param name="port">/dev/ttyACM0</param>
        </hardware>
    </xacro:unless>

    <!-- JOINTS -->

    <joint name="art1_yaw">
        <command_interface name="position"/>
        <!--<command_interface name="velocity"/>-->
        <state_interface name="position"/>
        <!--<state_interface name="velocity"/>-->
    </joint>
    <joint name="art2_pitch">
        <command_interface name="position"/>
        <!--<command_interface name="velocity"/>-->
        <state_interface name="position"/>
        <!--<state_interface name="velocity"/>-->
    </joint>
    <joint name="art3_pitch">
        <command_interface name="position"/>
        <!--<command_interface name="velocity"/>-->
        <state_interface name="position"/>
        <!--<state_interface name="velocity"/>-->
    </joint>
    <joint name="art4_roll">
        <command_interface name="position"/>
        <!--<command_interface name="velocity"/>-->
        <state_interface name="position"/>
        <!--<state_interface name="velocity"/>-->
    </joint>
    <joint name="art5_pitch">
        <command_interface name="position"/>
        <!--<command_interface name="velocity"/>-->
        <state_interface name="position"/>
        <!--<state_interface name="velocity"/>-->
    </joint>
    <joint name="art6_roll">
        <command_interface name="position"/>
        <!--<command_interface name="velocity"/>-->
        <state_interface name="position"/>
        <!--<state_interface name="velocity"/>-->
    </joint>

  </ros2_control>
</robot>
