<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="THOR_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="art1_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['art1_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="art2_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['art2_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="art3_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['art3_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="art4_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['art4_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="art5_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['art5_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="art6_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['art6_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
